@import "@/styles/globals.scss";

.news-card {
    background-color: white;
    padding: 3vh 1vw;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 350px;
    height: 400px;
    gap: 1vh;

    .news-card-head {
        @include flex-center(column);
        align-items: flex-start;
        gap: 2vh;
        h1 {
            width: inherit;
            font-size: 20px;
            font-family: $poppins;
            font-weight: 600;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p {
            color: slategrey;
            font-family: $poppins;
            font-weight: 600;
            font-size: $--14px;
        }
        .tag-topic {
            font-size: $--14px;
            color: rgb(140, 95, 255);
        }
    }

    img {
        border-radius: 1vw;
        height: 150px;
        object-fit: cover;
    }
}
