@import "@/styles/globals.scss";

.news-card {
    background-color: white;
    padding: 3vh 1vw;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: fit-content;
    gap: 1vh;
    .tag-topic {
        font-size: $--14px;
    }

    .news-card-content {
        padding-top: 2vh;
        display: flex;
        flex-direction: column;
        gap: 3vh;
        h1 {
            max-width: 350px;
            font-size: 20px;
            font-family: $poppins;
            font-weight: 600;
        }

        p {
            color: slategrey;
            font-family: $poppins;
            font-weight: 600;
            font-size: $--14px;
        }
        img {
            border-radius: 1vw;
            width: 350px;
            height: 175px;
            object-fit: cover;
        }
    }
}
