@tailwind base;
@tailwind components;
@tailwind utilities;

$--16px: 1rem;
$--12px: 0.75rem;
$--14px: 0.875rem;
$--18px: 1.125rem;
$--24px: 1.5rem;
$--26px: 1.625rem;
$--32px: 2rem;
$--34px: 2.125rem;
$--38px: 2.375rem;
$--42px: 2.625rem;
$--48px: 3rem;
$--64px: 4rem;
$poppins: var(--font-poppins);
$nunito: var(--font-nunito);
$josefin: var(--font-josefin);
$bebas: var(--font-bebas);
$pri-bg: #e3f1fe;
$pri-col: #cbb8fc;

body {
    box-sizing: border-box;
    background-color: $pri-bg;
}
@mixin flex-center($direction: row) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

.main-parent-wrap {
    @include flex-center(column);
    align-items: flex-start;
    gap: 5vh;
    padding: 0 2vw;
}
.main-parent {
    @include flex-center();
    justify-content: space-between;
    gap: 1vw;
}

.highlights-container {
    display: flex;
}

.left-container-wrap {
    height: 90vh;
    @include flex-center(column);
    align-items: flex-start;
    justify-content: space-around;
    max-width: 70%;
}
.head-title {
    font-size: $--18px;
    font-weight: 600;
    font-family: $poppins;
    background: rgb(203, 184, 252);
    background: linear-gradient(
        90deg,
        rgba(203, 184, 252, 0.5) 0%,
        rgba(227, 241, 254, 1) 100%,
        rgba(227, 241, 254, 1) 100%
    );
    border-left: 5px solid rgb(128, 0, 128, 0.5);
    padding: 5px 3px;
}
.left-container {
    margin-top: 5vh;
    .left-head {
        @include flex-center(column);
        align-items: flex-start;
        gap: 7vh;
    }

    .news-highlight {
        padding-top: 2vh;
        h2 {
            font-size: $--38px;
            font-family: sans-serif;
            font-weight: 600;
            width: 60%;
            display: flex;
            flex-direction: column;
            gap: 2vh;
            span {
                width: fit-content;
                font-size: $--16px;
                color: slategrey;
            }
        }
        .highlight-wrap {
            width: fit-content;
        }
        h3 {
            position: relative;
            z-index: 1;
            margin-top: 5vh;
            display: flex;
            gap: 1vw;
            align-items: center;
            justify-content: space-around;
            font-family: $poppins;
            font-weight: 600;
            font-size: 1.3rem;
            padding: 1vh 1vw;
            background-color: white;
            border-radius: 2vw;
            box-shadow: 0 0 10px black;
            cursor: pointer;
            overflow: hidden;

            .highlight-arrow {
                font-size: 1.3rem;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: -100%;
                width: 100%;
                height: 100%;
                background-color: black;
                z-index: -1;
                transition: left 0.3s ease-in-out;
            }

            &:hover {
                color: white;
                &::after {
                    left: 0;
                }
            }
        }
    }
}

.highlights-animation {
    position: absolute;
    top: 50%;
    left: 55%;
    border-radius: 50%;
    height: 15vw;
    width: 15vw;
    animation: rotate_3922 1.2s linear infinite;
    background-color: #9b59b6;
    background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
    span {
        position: absolute;
        border-radius: 50%;
        height: 100%;
        width: 100%;
        background-color: #9b59b6;
        background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);

        &:nth-of-type(1) {
            filter: blur(5px);
        }

        &:nth-of-type(2) {
            filter: blur(10px);
        }
        &:nth-of-type(3) {
            filter: blur(25px);
        }
        &:nth-of-type(4) {
            filter: blur(50px);
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        background-color: #fff;
        border: solid 5px #ffffff;
        border-radius: 50%;
    }
    @keyframes rotate_3922 {
        from {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        to {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }
}
.center-text {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #0255ac;
    font-size: $--16px;
    font-weight: 700;
    font-family: $josefin;
    text-align: center;
}

//Searching Animation
#wifi-loader {
    --background: #62abff;
    --front-color: #0255ac;
    --back-color: #c3c8de;
    --text-color: #414856;
    width: 64px;
    height: 64px;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 2;
}

#wifi-loader svg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wifi-loader svg circle {
    position: absolute;
    fill: none;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform: rotate(-100deg);
    transform-origin: center;
}

#wifi-loader svg circle.back {
    stroke: var(--back-color);
}

#wifi-loader svg circle.front {
    stroke: var(--front-color);
}

#wifi-loader svg.circle-outer {
    height: 86px;
    width: 86px;
}

#wifi-loader svg.circle-outer circle {
    stroke-dasharray: 62.75 188.25;
}

#wifi-loader svg.circle-outer circle.back {
    animation: circle-outer135 1.8s ease infinite 0.3s;
}

#wifi-loader svg.circle-outer circle.front {
    animation: circle-outer135 1.8s ease infinite 0.15s;
}

#wifi-loader svg.circle-middle {
    height: 60px;
    width: 60px;
}

#wifi-loader svg.circle-middle circle {
    stroke-dasharray: 42.5 127.5;
}

#wifi-loader svg.circle-middle circle.back {
    animation: circle-middle6123 1.8s ease infinite 0.25s;
}

#wifi-loader svg.circle-middle circle.front {
    animation: circle-middle6123 1.8s ease infinite 0.1s;
}

#wifi-loader svg.circle-inner {
    height: 34px;
    width: 34px;
}

#wifi-loader svg.circle-inner circle {
    stroke-dasharray: 22 66;
}

#wifi-loader svg.circle-inner circle.back {
    animation: circle-inner162 1.8s ease infinite 0.2s;
}

#wifi-loader svg.circle-inner circle.front {
    animation: circle-inner162 1.8s ease infinite 0.05s;
}

#wifi-loader .text {
    position: absolute;
    bottom: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 8px;
    letter-spacing: 0.2px;
}

#wifi-loader .text::before,
#wifi-loader .text::after {
    content: attr(data-text);
}

#wifi-loader .text::before {
    color: var(--text-color);
}

#wifi-loader .text::after {
    color: var(--front-color);
    animation: text-animation76 3.6s ease infinite;
    position: absolute;
    left: 0;
}

@keyframes circle-outer135 {
    0% {
        stroke-dashoffset: 25;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 301;
    }

    80% {
        stroke-dashoffset: 276;
    }

    100% {
        stroke-dashoffset: 276;
    }
}

@keyframes circle-middle6123 {
    0% {
        stroke-dashoffset: 17;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 204;
    }

    80% {
        stroke-dashoffset: 187;
    }

    100% {
        stroke-dashoffset: 187;
    }
}

@keyframes circle-inner162 {
    0% {
        stroke-dashoffset: 9;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 106;
    }

    80% {
        stroke-dashoffset: 97;
    }

    100% {
        stroke-dashoffset: 97;
    }
}

@keyframes text-animation76 {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    50% {
        clip-path: inset(0);
    }

    100% {
        clip-path: inset(0 0 0 100%);
    }
}

.latest-news-parent {
    display: flex;
    gap: 1vw;
    width: 100%;
    margin-top: 5vh;
    height: 150px;
    overflow: hidden;

    .latest-news {
        flex: 1;
        border-radius: 1vw;
        overflow: hidden;
        text-overflow: ellipsis;
        h3 {
            font-family: $poppins;
            font-size: 1.2rem;
            font-weight: 500;
        }
        &:nth-child(2) {
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
        }
        &:nth-child(3) {
            opacity: 0.4;
            &:hover {
                opacity: 1;
            }
        }
    }
    .latest-news-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1vh;
        p {
            opacity: 0.8;
        }
    }
}

.right-container-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2vh;
    min-height: 80vh;
    height: 100%;
    max-width: 30%;
    padding: 2vh 1vw;
    border-radius: 1vw;
    overflow: hidden;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: white;
        z-index: -2;
    }
}

.right-container-highlight {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    .right-head {
        font-family: $poppins;
        font-size: $--24px;
        font-weight: 600;
    }
    .other-news-highlight {
        img {
            position: relative;
            opacity: 0.7;
        }
    }
    .others-highlight-image {
        position: relative;
        border-radius: 2vw;
        overflow: hidden;
        width: fit-content;
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background-color: black;
            opacity: 1;
            z-index: -1;
        }
    }
    .others-highlight-item {
        h2 {
            font-family: $josefin;
            font-size: 1.2rem;
            font-weight: 500;
            position: relative;
            z-index: 1;
            color: white;
            padding: 0 2vw;
        }
    }
}

.card {
    position: relative;
    width: auto;
    height: 200px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3vh 1vw;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

.card::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}

.heading {
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 700;
    padding-top: 1vh;
}

.card p:not(.heading) {
    font-size: 14px;
}

.card p:last-child {
    color: #e81cff;
    font-weight: 600;
}

.card:hover::after {
    filter: blur(30px);
}

.other-news-container {
    display: flex;
    flex-direction: column;
    .other-news-item {
        display: flex;
        flex-direction: column;
        .tag-topic {
            opacity: 0.7;
            justify-content: flex-start;
            font-size: $--14px;
            span {
                opacity: 1;
                font-size: $--12px;
            }
            span:first-child {
                font-size: $--24px;
            }
        }
    }
    .other-news-content {
        display: flex;
        gap: 1vw;
        align-items: center;
        justify-content: space-between;
        h3 {
            font-family: $poppins;
            font-size: $--16px;
            font-weight: 600;
        }
        img {
            width: 80px;
            height: 80px;
            object-fit: cover;
            border-radius: 1vw;
            border: 1px solid #0255ac;
        }
    }
}

.section2-main {
    @include flex-center();
    justify-content: space-between;
    gap: 2vw;
    width: 100%;

    .section2-left {
        float: 1;
        background-color: white;
        padding: 3vh 1vw;
        border-radius: 1vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: fit-content;
        .tag-topic {
            padding-top: 2vh;
        }

        .section2-left-content {
            padding-top: 2vh;
            display: flex;
            flex-direction: column;
            gap: 2vh;
            h1 {
                max-width: 400px;
                font-size: $--24px;
                font-family: $poppins;
                font-weight: 600;
            }

            p {
                color: slategrey;
                font-family: $poppins;
                font-weight: 600;
            }
            img {
                border-radius: 1vw;
            }
        }
    }
}

.section2-newsrender {
    flex: 1;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 3vw;
    row-gap: 10vh;
}
