@import "@/styles/globals.scss";

.news-main {
    @include flex-center(column);
    gap: 3vh;
    max-width: 220px;
    img {
        max-width: inherit;
        height: 100px;
        border-radius: 1vw;
        object-fit: cover;
    }
    h2,
    p {
        max-width: inherit;
    }

    .news-content {
        @include flex-center(column);
        align-items: flex-start;
        gap: 5px;
        p {
            font-size: 10px;
            span {
                font-size: inherit;
            }
        }
        h2 {
            font-size: $--14px;
            font-weight: 600;
            font-family: $poppins;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
